#drum-machine {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#display {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

#drum-pads {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  background: #FF69B4;
}
